<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hangout">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppManager"
        android:allowBackup="true"
        android:icon="@mipmap/ft42"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ContactMessageActivity"
            android:label="@string/title_activity_contact_message"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ContactEditingActivity"
            android:label="@string/title_activity_contact_editing"
            android:parentActivityName=".ContactProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangout.ContactProfileActivity" />
        </activity>
        <activity
            android:name=".ContactProfileActivity"
            android:label="@string/title_activity_contact_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactAddingActivity"
            android:label="@string/title_activity_contact_adding"
            android:parentActivityName=".ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangout.ScrollingActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangout.ScrollingActivity" />
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.example.hangout.SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>